DJANGO_SETTINGS_MODULE=airassist.settings.dev
DJANGO_SECRET_KEY=change-me-in-real-envs
DATABASE_URL=
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
AIRPORTGAP_BASE_URL=https://airportgap.com/api
AIRPORTGAP_TOKEN=
